# this is example of the file that can be used for storing private and user specific environment variables, like keys or system paths
# create a file named .env-test (by default .env-test will be excluded from version control)
# the variables declared in .env-test are loaded in run.py automatically
# hydra allows you to reference variables in .yaml configs with special syntax: ${oc.env:MY_VAR}
TORCH_DISTRIBUTED_DEBUG=DETAIL

WANDB_API_KEY=FILL_ENTRY
WANDB_ENTITY=FILL_ENTRY
WANDB_PROJECT=FILL_ENTRY

HOME=FILL_ENTRY

#######################################################################################

EXPERIMENTS_DIR=FILL_ENTRY
EXPERIMENT_DIR=FILL_ENTRY

DATASET_DIR=FILL_ENTRY
MODEL_DIR=FILL_ENTRY

