# --------- machine-learning --------- #
mamba install pytorch-lightning>=1.5.0
mamba install torchmetrics>=0.6.0
mamba install einops
mamba install scipy
mamba install imutils
mamba install ftfy
trasnformers
git+https://github.com/openai/CLIP.git@main
mamba install cryptography
mamba install google-api-python-client
mamba install google-cloud-storage
git+https://github.com/AntreasAntoniou/GATE.git@core_image_classification_datasets

# --------- hydra --------- #
mamba install hydra-core

hydra-colorlog==1.1.0
hydra-optuna-sweeper==1.1.0
nvidia-ml-py3
# hydra-ax-sweeper
# hydra-ray-launcher
# hydra-submitit-launcher

# --------- loggers --------- #
mamba install wandb
# neptune-client
# mlflow
# comet-ml
# torch_tb_profiler

# --------- linters --------- #
pre-commit      # hooks for applying linters on commit
black           # code formatting
isort           # import sorting
flake8          # code analysis
pip install jsonlint        # json linting
yamllint        # yaml linting

# --------- others --------- #
python-dotenv   # loading env variables from .env file
rich            # beautiful text formatting in terminal
pytest          # tests
sh              # for running bash commands in some tests
scikit-learn    # used in some callbacks
seaborn         # used in some callbacks
jupyterlab      # better jupyter notebooks
pudb            # debugger
regex
tqdm
pip install testresources
orjson
# --------scaling up on the cloud ----------#
pip install ray
GPUtil